<div>
    <h2>Cadastro de Aluno</h2>
    <form (ngSubmit)="onSubmit()">
      <label>RA: <input type="text" [(ngModel)]="aluno.ra" name="ra" required></label><br>
      <label>Nome: <input type="text" [(ngModel)]="aluno.nome" name="nome" required></label><br>
      <label>Email: <input type="email" [(ngModel)]="aluno.email" name="email" required></label><br>
      <label>Celular: <input type="tel" [(ngModel)]="aluno.celular" name="celular" required></label><br>
      <button type="submit">Cadastrar</button>
    </form>
</div>
  