<ng-template #offcanvas let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Profile update</h5>
    <button type="button" class="btn-close text-reset" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <form>
      <div class="mb-3">
        <label for="dob" class="form-label">Date of birth</label>
        <input type="date" class="form-control" id="dob">
      </div>
      <button type="button" class="btn btn-primary" (click)="offcanvas.close('Save click')">Save</button>
    </form>
  </div>
</ng-template>